<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>alps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>hfc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E7708D616F73701005F9459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB67EEB16F8821D00111A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EEDD1181549889B00B55C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4220F35515D350AA005750F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4247B61C152350CF00A2263C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426D353C14EFD4F10051BB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426D359714EFFDCB0051BB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4292B3B9162522EB007F1B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4292B3CD162522ED007F1B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4292B3E316252344007F1B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42B0D87515234E9900E9F12F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
